
  {{ fn('timber_set_product', post)}}

  <div class="featured-product background-grey {% if not post.thumbnail %}placeholder{% endif %} {% if post.tile_hover_image %} product--has-hover {% endif %}">
    <a href="{{ post.link }}">

      {% if post.thumbnail %}
        <img class="featured-product__image" src="{{ post.thumbnail.src('shop_single')|resize(600) }}" alt="{{ post.thumbnail.alt }}" />
      {% else %}
        <span class="thumb-placeholder"><i class="icon-camera"></i></span>
      {% endif %}

      {% if post.tile_hover_image %}
        {% set image = TimberImage(post.tile_hover_image) %}
        <img class="featured-product__image-alt" src="{{ image.src('shop_single')|resize(600) }}" alt="{{ image.alt }}">
      {% else %}
        <img class="featured-product__image-alt" src="{{ post.thumbnail.src('shop_single')|resize(600) }}" alt="{{ post.thumbnail.alt }}">
      {% endif %}

      <h3 class="product-info {% if post.title|length > 32 %} product-info--long-title {% endif %}">
        <span class="product-text">
          {{ post.title }} —
        </span>
        <span class="price">
          ${{ post.custom._price }}
        </span>
      </h3>
    </a>
  </div>

